In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df = pd.read_json("wcwin.json")
df

         country  year
0        Uruguay  1930
1          Italy  1934
2          Italy  1938
3        Uruguay  1950
4   West Germany  1954
5         Brazil  1958
6         Brazil  1962
7        England  1966
8         Brazil  1970
9   West Germany  1974
10     Argentina  1978
11         Italy  1982
12     Argentina  1986
13  West Germany  1990
14        Brazil  1994
15        France  1998
16        Brazil  2002
17         Italy  2006
18         Spain  2010
19       Germany  2014
20        France  2018
21     Argentina  2022

In [4]:
df[df['country']=='Uruguay']

   country  year
0  Uruguay  1930
3  Uruguay  1950

In [5]:
df[df['country']=='Uruguay'].count()

country    2
year       2
dtype: int64

In [9]:
len(set(df.country))

9

In [11]:
df.country.unique()

array(['Uruguay', 'Italy', 'West Germany', 'Brazil', 'England',
       'Argentina', 'France', 'Spain', 'Germany'], dtype=object)

In [13]:
# number of unique
df.country.nunique()

9

In [15]:
df["year"].max()

np.int64(2022)

In [16]:
df[df["year"] ==  df["year"].max()]

      country  year
21  Argentina  2022

In [17]:
df[df["year"] ==  df["year"].max()]["country"]

21    Argentina
Name: country, dtype: object

In [18]:
filter_data = df["year"] ==  df["year"].max()
df[filter_data]["country"]

21    Argentina
Name: country, dtype: object

In [19]:
filter_data = df["year"] ==  df["year"].max()
filter_data

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21     True
Name: year, dtype: bool

In [23]:
df[df['country'] == 'Brazil'].max()

country    Brazil
year         2002
dtype: object

In [25]:
df[ df['year']== 2002]

   country  year
16  Brazil  2002

In [27]:
df.groupby('country')['year'].count()

country
Argentina       3
Brazil          5
England         1
France          2
Germany         1
Italy           4
Spain           1
Uruguay         2
West Germany    3
Name: year, dtype: int64

In [28]:
df['continent'] = 'Europe'

In [30]:
df[df['country'].isin(['Brazil', 'Argentina', 'Uruguay'])]

      country  year continent
0     Uruguay  1930    Europe
3     Uruguay  1950    Europe
5      Brazil  1958    Europe
6      Brazil  1962    Europe
8      Brazil  1970    Europe
10  Argentina  1978    Europe
12  Argentina  1986    Europe
14     Brazil  1994    Europe
16     Brazil  2002    Europe
21  Argentina  2022    Europe

In [45]:
condition = df['country'].isin(['Brazil', 'Argentina', 'Uruguay'])
df.loc[condition, 'continent'] = 'South America'
df

         country  year      continent
0        Uruguay  1930  South America
1          Italy  1934         Europe
2          Italy  1938         Europe
3        Uruguay  1950  South America
4   West Germany  1954         Europe
5         Brazil  1958  South America
6         Brazil  1962  South America
7        England  1966         Europe
8         Brazil  1970  South America
9   West Germany  1974         Europe
10     Argentina  1978  South America
11         Italy  1982         Europe
12     Argentina  1986  South America
13  West Germany  1990         Europe
14        Brazil  1994  South America
15        France  1998         Europe
16        Brazil  2002  South America
17         Italy  2006         Europe
18         Spain  2010         Europe
19       Germany  2014         Europe
20        France  2018         Europe
21     Argentina  2022  South America

In [47]:
df.loc[ df['country'] == 'West Germany' , 'country'] = 'Germany'
df

      country  year      continent
0     Uruguay  1930  South America
1       Italy  1934         Europe
2       Italy  1938         Europe
3     Uruguay  1950  South America
4     Germany  1954         Europe
5      Brazil  1958  South America
6      Brazil  1962  South America
7     England  1966         Europe
8      Brazil  1970  South America
9     Germany  1974         Europe
10  Argentina  1978  South America
11      Italy  1982         Europe
12  Argentina  1986  South America
13    Germany  1990         Europe
14     Brazil  1994  South America
15     France  1998         Europe
16     Brazil  2002  South America
17      Italy  2006         Europe
18      Spain  2010         Europe
19    Germany  2014         Europe
20     France  2018         Europe
21  Argentina  2022  South America